.menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu a {
    width: 140px;
    height: 69.34px;
    padding: 0px;
    margin-right: 20px;
}

.menu img {
    width: 140px;
    height: auto;
}

.menu-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-link {
    text-decoration: none;
    color: #004aad;
    font-size: 19px;
    font-weight: 600;
    padding: 8px 12px;
}

.menu-link:hover {
    color: #003b8a;
}

.logout-link {
    list-style: none;
    margin-left: auto;
}

.logout-item {
    margin-left: 20px;
    font-weight: 600;
}

.logout {
    color: #e60000;
    font-size: 16px;
    text-decoration: none;
}

.logout:hover {
    text-decoration: underline;
}
