<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <img src="static/logo.png" alt="Logotipo">
        <ul>
            <li><a href="{{ url_for('lista_pacientes') }}">Pacientes</a></li>
            <li><a href="{{ url_for('lista_medicos') }}">Médicos</a></li>
            <li><a href="{{ url_for('lista_consultas') }}">Consultas</a></li>
        </ul>
    </nav>

    <h1>Pacientes</h1>
    <a href="{{ url_for('novo_paciente') }}" class="novo">Novo Paciente</a>
    <ul class="lista">
        {% for paciente in pacientes %}
        <li class="item">
            <a href="{{ url_for('detalhes_paciente', id=paciente.id) }}">{{ paciente.nome }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
